* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.554);
}

h1 {
  font-size: x-large;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
